# Day #1: **Object Types and Structures**
Python is an "object oriented programming language"; this means that everything is an object, and the **type** of object defines what operations you can perform with the object. The Python kernel recognizes objects in different ways based on how you define them. Below, we explore some of the common types and data structures.

## 1. Object Types/Classes
These are the common object types:
- string (`str`)
- integer (`int`)
- floating point number (`float`)
- complex number (`complex`)
- boolean (`bool`)

We will look into the types categorically. Three of the types (int, float, complex) are number types, and will go in one subsection together below.

When creating your objects, types can be defined implicitly or explicitly. In this notebook, we will focus on the implicit definitions.

### Strings
Generally, anything with letters in it is a string, but you can put numbers in a string too. Remember our `Hello World!` from before?

In [ ]:
print('Hello World!')

The print command takes a string as input, implicitly defined with either the single quotes `'` as above, or with double quotes `"`. The only difference between single and double quotes is that you cannot use an apostrophe inside the single quotes without breaking the string, while you can use an apostrophe inside the double quotes. This is important when labeling things! 

Try changing the string to something new and making sure that the code cell still runs.

In [ ]:
# Now we want to save the string as a variable, then print it:

f = 'string' # f is now a variable of type 'str', implicitly defined

print(f)

# check the type like so:
type(f)

In [ ]:
# Or you can make a multi-line string:

g = """long string which can 
occupy multiple lines"""

print(g)

### Types of numbers in Python
Numbers in Python can take on three different common types: integer (whole numbers), floating point number (numbers with decimals), and complex (for complex numbers). 

Numbers are defined differently depending on whether a period is included. This is because the Python kernel assumes that you want to define the number as an integer if you do not use a period, and it assumes that you want to define it as a floating point if you include a period. Take a look:

In [ ]:
var1 = 1  # this will implicitly define the variable with type=int

var2 = 1. # this will implicitly define the variable with type=float

print('value of the first variable:',var1) # see how you can get a little fancy with the print statements
print('type of the first variable:',type(var1))
print('---------------------------------------------')
print('value of the second variable:',var2)
print('type of the second variable:',type(var2))

You can convert between the two using `float()` or `int()`. See below:

In [ ]:
x = 1.         # implicitly define a float variable x
print(x)       # print x
print(type(x)) # print the data type for x

print('-----------------------------------------')

y = int(x)     # explicitly convert x to an integer, save it as y
print(y)       # print y
print(type(y)) # print the data type for y

# What's the difference? The float type was changed to integer using the int() method.
# Notice that there is no longer a decimal!

You can convert the above variables to complex as well with `complex()`, or you can use implicit assignment for complex with `j` (this is like the period for `float`). Note that `j` is used for $\sqrt{-1}$ because the engineers got here first-- sad!

In [ ]:
c = 1j  # define a complex variable c
type(c) # show the data type for c

**Questions** 
1) What happens when you execute algebraic expressions (i.e. `+`) with different data types (e.g. integer and floating point numbers)?

2) What happens when you divide integers which are not divisible (e.g. `3/2`)? Try the integer division that we discussed in the previous notebook, `//`.

In [ ]:
# space to address the questions

### Boolean
It is commonly useful to assign a variable as True/False. This is what we call a 'Boolean', named after a body of research from [George Boole](https://en.wikipedia.org/wiki/George_Boole). In Python, booleans are assigned with `bool()` or implicitly with the words True/False 

(NB: boolean designation is **not** a string, it has no quotations).

In [ ]:
F = bool(0) # define F to be a boolean set to zero
print(F)    # print the value of F
type(F)     # show the data type for F

# Try replacing 0 with 1. What does it say?

In [ ]:
# take a look at the 'type' for 'True':
type(True)

**Bools may seem unimportant, but they are foundational.** Keep an eye out for bools when using any library functions, and when they come into play in the subsequent notebooks.

## 2. Data Structures
Now we want to organize data of either the same or different types together into a structure. 

Common data structures:
- tuple (`tuple` or implicitly `()`)
- list (`list` or implicitly `[]`)
- dictionary (`dict` or implicitly `{}`)

### Tuple
A tuple is two items in parentheses separated by a comma. The items can be of the same object type or of different object types:

In [ ]:
t1 = (1, 2)     # define a same-type tuple
t2 = ('a', 2)   # define a different-type tuple
print(type(t1)) # show the type for t1
print(type(t2)) # show the type for t2

Notice that the `type()` function doesn't show the object types for the individual components of the tuple, but rather for the tuple itself. To print the type of an individual component of a tuple, try this:

In [ ]:
print(type(t1[0])) # prints the type for the first object [0] in the first tuple
print(type(t2[0])) # prints the type for the first object [0] in the second tuple

### List
A list is any number of items in square brackets, separated by commas. Items in a list can be of the same object type or different object types. See below.

In [ ]:
list1 = [0,1,2,3,4]                      # define a list with objects of the same type
list2 = ['a', 1, 2, 3, 4]                # define a list with objects of different types
list3 = [('a', 2), [0,1,2,3,4], 2, 3, 4] # you can even put tuples or other lists inside of lists!

type(list1)

Similar to the tuples, the `type()` function doesn't show the object types for the individual components of a list, but rather for the list itself. To print the type of an individual component of a list, try this:

In [ ]:
type(list3[0]) # prints the type for the first object [0] in the third list

In [ ]:
type(list3[0][0]) # prints the type for the first object [0] in the first object [0] of the list

The use of `structure[0]` is a way of calling an item from a structure using its _index_. 

You can query a list by calling it at a specific index. The index must be an integer, and Python starts counting at 0. The **0-based indexing is a critical difference from some other languages**, like Matlab.

In [ ]:
index = 0     # choose an index, where 0 corresponds to the first entry
list2[index]  # query the list's object at the chose index

In [ ]:
print(list3[1][3]) # print the 4th entry (index [3]) in the second item (index [1]) of list3

### Dictionary
A dictionary is a group of items, each paired with a 'key'. **Dictionaries are indexed by the keys, not by integers.**

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3} # define a dictionary d
type(d)

In [ ]:
# You can display the keys from a dictionary like so:
d.keys()

In [ ]:
# Call an object from a dictionary by its key:
d['a']

This can be helpful for tracking information that you would like to easily label:

In [ ]:
population = {'Washington':8e6, 'Oregon':4.2e6, 'California':39.6e6} # west coast best coast ;)

print('Population of Washington State is', population['Washington'])
print('Population of California State is', population['California'])

While this is a good way to organize information, we don't commonly use dictionaries for data storage in the earth sciences because our datasets are frequently too large for this formatting to be efficient. However, you might notice that dictionaries come in handy for other things as well.

**Questions**
1) Try converting your dictionary to a list. What happens?

2) Create a list with the second item as a tuple. Using only one line of code, print the second item in the tuple (this required indexing the list then indexing the tuple).

In [ ]:
# space to address the questions